body {
    border: 1px solid blue;
}

.box-1 {
    border: 3px solid black;
    padding: 10px;
    margin: 50px;
}

ul li {
    display: inline-block;
}

.paragraph span {
    background-color: yellow;
    border: 2px solid red;
    width: 100px;
    height: 50px;
}

.paragraph span:first-child {
    display: inline;
    margin-right: 10px;
}

.paragraph span:nth-child(2) {
    display: inline-block;
}

.paragraph span:last-child {
    display: block;
}