* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid blue;
    position: relative;
}

.box-1 {
    border: 3px solid black;
    padding: 10px;
    margin: 50px;
}

ul li {
    display: inline-block;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
}

.paragraph span {
    background-color: yellow;
    border: 2px solid red;
    width: 100px;
    height: 50px;
}

.paragraph span:first-child {
    display: inline;
    margin-right: 10px;
}

.paragraph span:nth-child(2) {
    display: inline-block;
}

.paragraph span:last-child {
    display: block;
}

.margin-bottom {
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

header, nav, footer {
    background-color: #F1F1F1;
    text-align: center;
}

header {
    padding: 30px;
}

nav {
    padding: 20px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

main .col-left,
main .col-center, 
main .col-right {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10% 0;
} 

main .col-left, 
main .col-right {
    width: 19%;
}

main .col-center {
    width: 60%;
    margin: 0 1%;
}

footer {
    padding: 20px;
}

.paragraph-hidden {
    display: none;
}

.section-image::after {
    content: "";
    display: table;
    clear: both;
}

.section-image p {
    float: left;
}

.section-image img {
    float: right;
}

.paragraphs p {
    float: left;
    background-color: aqua;
    width: 32.3%;
    height: 200px;
    margin-right: 1%;
}

.navbar {
    border: 1px solid red;
    position: fixed;
}

.footer-bottom {
    position: fixed;
    bottom: 0;
}

.square {
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.card {
    width: 300px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card::after {
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    width: 30px;
    color: white;
    background-color: black;
    text-align: center;
    border-bottom-left-radius: 20%;
    cursor: pointer;
}

.card .card__image img {
    max-width: 100%;
}

.card .card__info {
    padding: 10px;
}

@media screen and (max-width: 600px) {

    body {
        font-size: 18px;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    .box-1 {
        margin: 20px 0;
        border: none;
    }
    .list-item,
    .margin-bottom,
    .paragraph,
    .section-image,
    .paragraphs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .paragraph span {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    main .col-left,
    main .col-center, 
    main .col-right {
        width: 100%;
    }

    main .col-center {      
        margin: 0;
    }

    .section-image {
        align-items: center;
    }

    .paragraphs p {
        width: 100%;
        margin-top: 5px;
    }

    .card {
        margin: 10px auto;
    }
}