body {
    border: 1px solid blue;
    position: relative;
}

.box-1 {
    border: 3px solid black;
    padding: 10px;
    margin: 50px;
}

ul li {
    display: inline-block;
}

.paragraph span {
    background-color: yellow;
    border: 2px solid red;
    width: 100px;
    height: 50px;
}

.paragraph span:first-child {
    display: inline;
    margin-right: 10px;
}

.paragraph span:nth-child(2) {
    display: inline-block;
}

.paragraph span:last-child {
    display: block;
}

.margin-bottom {
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

header, nav, footer {
    background-color: #F1F1F1;
    text-align: center;
}

header {
    padding: 30px;
}

nav {
    padding: 20px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

main .col-left,
main .col-center, 
main .col-right {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10% 0;
} 

main .col-left, 
main .col-right {
    width: 19%;
}

main .col-center {
    width: 60%;
    margin: 0 1%;
}

footer {
    padding: 20px;
}

.paragraph-hidden {
    display: none;
}

.section-image::after {
    content: "";
    display: table;
    clear: both;
}

.section-image p {
    float: left;
}

.section-image img {
    float: right;
}

.paragraphs p {
    float: left;
    background-color: aqua;
    width: 32.3%;
    height: 200px;
    margin-right: 1%;
}

.navbar {
    border: 1px solid red;
    position: fixed;
}

.footer-bottom {
    position: relative;
    bottom: 0;
}

.square {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}