h1 {
    color: red;
}

h2 {
    color: green;
}

h3 {
    color: yellow;
}

h4 {
    color: black;
}

#title-5 {
    color:brown;
    background-color: beige;
}

h6 {
    color: gray;
}

p {
    color: blue;
    text-align: right;
}

.text-xl {
    font-size: 30px;
}