$font-family: 'Open Sans', sans-serif;
$font-size-nav: 17px;
$primary-color: #b700ff;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$bg-color: #e7e7e7;
$bg-light: #ffffff;
$bg-dark: #000000;
$bg-paragraph-1: #ffffff;
$bg-paragraph-2: #000000;
$hover-light: #ff0000;
$hover-dark: #ffff00;
$width: 100%;
$noHover: false;

$colors: #ff00ff, #00ff00, #0040ff, #ff0051;