$font-family: 'Open Sans', sans-serif;
$font-size-nav: 17px;
$primary-color: #b700ff;
$secondary-color: #ffffff;
$bg-color: #e7e7e7;
$bg-light: #ffffff;
$bg-dark: #000000;
$hover-light: #ff0000;
$hover-dark: #ffff00;
$width: 100%;
$noHover: false;