@import 'variables';

.bg-color {
    background-color: $bg-color;
}

@mixin color-theme($text-color, $background-color, $hover-color){
    background-color: $background-color;
    a {
        @if $noHover {
            color: $text-color;
        } @else {
            color: $text-color;
            &:hover {
                color: $hover-color;
            }
        }
    }

    // a {
    //     color: $text-color;
    //     &:hover {
    //         color: $hover-color;
    //     }
    // }
}

.nav-light-theme {
    @include color-theme($primary-color, $bg-light, $hover-light)
}

.nav-dark-theme {
    @include color-theme($secondary-color, $bg-dark, $hover-dark)
}

@function cal-em($value-px, $font-size-px) {
    @return calc($value-px / $font-size-px) * 1em;
}

nav {
    @extend .nav-dark-theme;
    font-family: $font-family;
    font-size: $font-size-nav;
    ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        li {
            list-style: none;
            &:last-child {
                // @extend .bg-color;
                border: {
                    width: 2px;
                    style: solid;
                    color: #333333
                }
            }
            a {
                text-decoration: none;
                // font-size: 18px;
                font-size: cal-em(50px, $font-size-nav);
            }
        }
    }
}

.paragraph-1 {
    width: calc($width / 3);
    color: $tertiary-color;
}

.paragraph-2 {
    width: $width;
    color: $secondary-color;
}

@for $i from 1 through 2 {
    @if $i == 1 {
        .paragraph-#{$i} {
            background-color: $bg-paragraph-1;
        }
    } @else {
        .paragraph-#{$i} {
            background-color: $bg-paragraph-2;
        }
    }
}

@each $color in $colors {
    @if $color == #ff00ff {
        .color-violet {
            color: $color;
        }
    } @else if $color == #00ff00 {
        .color-green {
            color: $color;
        }
    } @else if $color == #0040ff {
        .color-blue {
            color: $color;
        }
    } @else {
        .color-red {
            color: $color;
        }
    }
}